<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-3">
      <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key, class: 'card-img-top rounded-3 img-fluid' %>
      <% else %>
        <%= image_tag app/assets/images/kite.jpeg, class: 'card-img-top rounded-3 img-fluid' %>
      <% end %>
    </div>

    <div class="col-md-6 mt-3">
      <h1>Modifier la réservation</h1>

      <%= render 'form', booking: @booking %>
      <%# link_to 'Voir la réservation', user_booking_path(@booking.user, @booking) %>
    </div>
  </div>
</div>
