<div class="container">
  <h1>Modifier la réservation</h1>

  <%= render 'form', booking: @booking %>

  <%= link_to 'Voir la réservation', user_booking_path(@booking.user, @booking) %>
  <%= link_to 'Retour', user_bookings_path(@booking.user) %>
</div>
