<h1>Pages#home</h1>

<%= link_to 'Products index', products_path %>
<br>
<br>

<% if user_signed_in? %>
  <p>Bienvenue, <%= current_user.name %>!</p>
  <%= link_to 'New product', new_product_path %>
<% end %>
