.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
}

.navbar-logo-font {
  font-family: "Archivo Black", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 34px;
  color: #04BFBF;
  &:hover {
    color: #04ADBF;
  }
}

.nav-link-kite {
  font-family: "Montserrat", "Archivo Black", sans-serif;
  color: #04BFBF;
  font-weight: 400;
  font-size: 18px;
  &:hover {
    color: #04ADBF;
  }
}

.dropdown-toggle::after {
  display: none;
}
